body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu-container{
    display: flex;
    justify-content: center;
    width: auto;
    margin: 0; /*??????????? left and right why not 0*/
    background-color: rgb(255, 233, 34);
    color: antiquewhite;
    border: 5px solid rgb(255, 233, 30);
}

.menu{
    display: flex;
    justify-content:space-between;
    align-items: center;
}




.logoimg-container{

}

.logoimg{
 /*height: 100%;
 width: 100%;
 object-fit: contain;*/
 width: 80px;
 height: auto;
}